<div th:fragment="chatbot">
    <!-- Link to external CSS -->
    <link rel="stylesheet" th:href="@{/css/chatbot.css}">

    <button class="chatbot-toggler">
        <span class="material-symbols-rounded"><i class="fa-regular fa-comment-dots"></i></span>
        <span class="material-symbols-outlined"><i class="fa-solid fa-xmark"></i></span>
    </button>
    <div class="chatbot">
        <header>
            <h2>QAUTE Bot</h2>
            <span class="close-btn material-symbols-outlined">close</span>
        </header>
        <ul class="chatbox">
            <li class="chat incoming">
                <span class="material-symbols-outlined"><i class="fa-solid fa-robot"></i></span>
                <p>Xin chào 👋<br>Tôi là trợ lý ảo QAUTE. Tôi có thể giúp gì cho bạn?</p>
            </li>
        </ul>
        <div class="chat-input">
            <textarea placeholder="Nhập câu hỏi..." spellcheck="false" required></textarea>
            <span id="send-btn" class="material-symbols-rounded"><i class="fa-solid fa-paper-plane"></i></span>
        </div>
    </div>

    <!-- Import Marked & DOMPurify for Markdown Rendering -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.0.6/purify.min.js"></script>

    <!-- Link to external JS -->
    <script th:src="@{/js/chatbot.js}"></script>
</div>